{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <div class="logo">
                <!-- Replace with your logo -->
                <img src="{% static 'images/lion.png' %}" alt="Logo">
            </div>
            <ul class="nav-links">
                <li><a href="">Home</a></li>
                <li><a href="about/">About Me</a></li>
                <li><a href="projects/">Projects</a></li>
                <li><a href="consulting/">Consulting</a></li>
                <li><a href="blog/">Blog</a></li>
            </ul>
        </div>
        <div class="navbar-right">
            <ul class="social-icons">
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fab fa-github"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
            </ul>
            <div class="cart">
                <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>
    </nav>
    <div class="slideshow-container">
      <div class="slideshow-image" style="background-image: url('{% static 'images/IMG_8387.jpg' %}');"></div>
      <div class="slideshow-image" style="background-image: url('{% static 'images/IMG_8391.jpg' %}');"></div>
          <!-- Static Text Overlay -->
    <!-- Text Overlay -->
    <div class="slideshow-text" style="position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%); color: black; text-align: center; z-index: 100; width: 80%;">
        <h1 style="font-size: 72px; font-weight: bold; color: black; margin: 0;">TAKUDZWA SHUMBAMHINI</h1>
        <p style="font-size: 36px;color: black; margin: 5px 0 0 0;">BSc Eng. Electrical & Computer Engineering, UCT (2021)</p>
    </div>
  </div>

  <div class="info-section">
    <div class="info-column">
        <h2>Software Engineer(2021 - present)</h2>
        <p>Cognitive Systems</p>
    </div>
    <div class="info-column">
        <h2>Background</h2>
        <p>Originally from Zimbabwe. Graduated in 2021 from UCT, with a BSc Eng. Electrical & Computer Engineering degree.Currently a software engineer based in Cape Town, South Africa.</p>
    </div>

</div>

<div class="project-section">
  <h2>Projects I have worked on:</h2>
  <div class="category-tabs">
      <ul>
          <li class="active-tab">Software Engineering</li>
          <li>API Development</li>
          <li>Clubs & Philanthropy</li>
          <li>Personal</li>
      </ul>
  </div>

  <!-- Project Thumbnails for Engineering -->
  <div class="projects-row" data-category="software-engineering" style="display: flex;">
      <div class="project-card" style="background-image: url('{% static 'images/av2.jpg' %}');">
          <!-- <img src="{% static 'images/av.jpg' %}" alt="AI-Based security solution for AVLYTICS"> -->
          <h3>AI-Based security solution for AVLYTICS</h3>
      </div>
      <div class="project-card" style="background-image: url('{% static 'images/cicd3.jpg' %}');">
          <!-- <img src="{% static 'images/cicd3.jpg' %}" alt="CI/CD Infrastructure"> -->
          <h3>CI/CD Infrastructure</h3>
      </div>
      <div class="project-card">
        <img src="{% static 'images/intern.jpg' %}" alt="2021 Internship Program">
        <h3>2021 Internship Program</h3>
    </div>
    <div class="project-card">
        <img src="{% static 'images/uct.jpg' %}" alt="My 2020 Final Year Project">
        <h3>My 2020 Final Year Project</h3>
    </div>
  </div>


  <!-- Project Thumbnails for Web Development (Initially hidden) -->
  <div class="projects-row" data-category="api-development" style="display: none;">
      <div class="project-card" style="background-image: url('{% static 'images/av2.jpg' %}');">
        <!--<img src="{% static 'images/taku.jpg' %}" alt="Project 1t"> -->  
          <h3>Web Development Project 1</h3>
      </div>
      <div class="project-card">
          <img src="{% static 'images/taku.jpg' %}" alt="Project 1">
          <h3>Web Development Project 2</h3>
      </div>
  </div>

  <!-- Project Thumbnails for Graphic Designing (Initially hidden) -->
  <div class="projects-row" data-category="clubs-&-philanthropy" style="display: none;">
      <div class="project-card">
          <img src="{% static 'images/IMG_2377.jpg' %}" alt="Project 1">
          <h3>Graphic Design Project 1</h3>
      </div>
      <div class="project-card">
          <img src="{% static 'images/IMG_2377.jpg' %}" alt="Project 2">
          <h3>Graphic Design Project 2</h3>
      </div>
  </div>

  <!-- Project Thumbnails for Photography (Initially hidden) -->
  <div class="projects-row" data-category="personal" style="display: none;">
      <div class="project-card">
          <img src="{% static 'images/IMG_2377.jpg' %}" alt="Photography Project">
          <h3>Photography Project 1</h3>
      </div>
      <div class="project-card">
          <img src="{% static 'images/IMG_2377.jpg' %}" alt="Photography Project">
          <h3>Photography Project 2</h3>
      </div>
  </div>
</div>

  <script src="{% static 'js/slideshow.js' %}"></script>
  <script src="{% static 'js/tabs.js' %}"></script>

</body>
</html>