<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Home</title>
</head>
<body>
 <h1>Welcome to My Website. This is the home page</h1>
 <nav class="nav nav-pills nav-fill">
    <a class="nav-link active" aria-current="page" href="#">Home</a>
    <a class="nav-link" href="#">Much longer nav link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link disabled">Disabled</a>
  </nav>
</body>
</html>