{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<nav class="navbar">
    <div class="navbar-left">
        <div class="logo">
            <!-- Replace with your logo -->
            <img src="{% static 'images/lion.png' %}" alt="Logo">
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Me</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/consulting">Consulting</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </div>
    <div class="navbar-right">
        <ul class="social-icons">
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fab fa-github"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
            <li><a href="#"><i class="fas fa-envelope"></i></a></li>
        </ul>
        <div class="cart">
            <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </div>
</nav>